## Dictionary

# create a dict

In [1]:
d = {}
type(d)

dict

In [3]:
# insert elements (key:value)
d={21:"A",275:"B",6854:"w"}
type(d)

dict

In [8]:
# by using constructor dict. creation

dict1 = dict({"name":"Avinash","age":23})
dict1
# type(dict1)

{'name': 'Avinash', 'age': 23}

In [10]:
dict2 = dict(name="Avinash",age=23) # method 2
dict2

{'name': 'Avinash', 'age': 23}

In [13]:
dict3 =[('name','avi'),('age',22),('grade',1)]
type(dict3)
dict3 = dict(dict3)

In [14]:
type(dict3)

dict

In [15]:
l1 = [1,2,3]
l2 = [4,5,6]

dict(zip(l1,l2))

{1: 4, 2: 5, 3: 6}

## Features of dict

- order collection - jis order me insert us order me output
- mutable - add ,remove changable
- keys must be uniques , if you try to add a duplicate keys, the new value will overwrite the existing value / duplicate keys are not allowed . if dupkicate keys are there it will take last key value
- key must be immutable -> change can't be changable


- Immutable Objects(allowed as Keys) : integer, strings,tuples,frozensets

- mutable objects(not allowed) - list, tuple, dictionaries

- Dynamic in size - add multiple keys
 
- heterogeneous keys are allowed in dict(boolean,tuple,list,int)

Q. In dict. indexing are not allowed

In [17]:
dict1 = {'name':'Avinash',[1,2,3]:22,'city':'pune'}

TypeError: unhashable type: 'list'

In [18]:
dict1 = {'name':'Avinash',(1,2,3):22,'city':'pune'} # tuple are allowed

In [1]:
# dict functions
dict1 = {'name':'Prince','age':25,"city":"banglore"}

In [2]:
dict1.keys() # keys showing

dict_keys(['name', 'age', 'city'])

In [3]:
for i in  dict1:
    print(i)

name
age
city

In [4]:
dict1.values() # values in dict

dict_values(['Prince', 25, 'banglore'])

In [6]:
for i in dict1.values():
    print(i)

Prince
25
banglore

In [7]:
dict1.items() # both - keys & values

dict_items([('name', 'Prince'), ('age', 25), ('city', 'banglore')])

In [8]:
for i in dict1.items():
    print(i)

('name', 'Prince')
('age', 25)
('city', 'banglore')

In [9]:
dict1.get('name') # perticular thing to extract

'Prince'

In [10]:
dict1.get('age')

25

In [11]:
dict1.get('city')

'banglore'

In [12]:
dict1.get('gender') # if thing is not in dict it will print empty

In [13]:
# update fun

dict1['gender'] = 'male' # only one thing at 1 time

In [14]:
dict1

{'name': 'Prince', 'age': 25, 'city': 'banglore', 'gender': 'male'}

In [18]:
# update is use for multiple values

dict1.update({"name1":"Avinash","class":12})

In [20]:
dict1

{'name': 'Prince',
 'age': 25,
 'city': 'banglore',
 'gender': 'male',
 ('name', 'class'): ('avi', 12),
 'name1': 'Avinash',
 'class': 12}

In [23]:
# value delete
dict1.pop(('name','class'))

('avi', 12)

In [24]:
dict1

{'name': 'Prince',
 'age': 25,
 'city': 'banglore',
 'gender': 'male',
 'name1': 'Avinash',
 'class': 12}

In [26]:
# for pop 1 element is nesessary to put output. if value is not there it will give error

In [27]:
dict1.popitem() # last item delete by popitem

('class', 12)

In [30]:
dict2 = dict1.copy()

In [32]:
dict2
dict2['place'] = "historical"

In [33]:
dict2

{'name': 'Prince',
 'age': 25,
 'city': 'banglore',
 'gender': 'male',
 'name1': 'Avinash',
 'place': 'historical'}

In [35]:
dict1.clear() # all values deletes

In [36]:
dict1

{}

# Dict functions and operators

In [37]:
dict1 = {'name':'Avinash','age':22,'city':'pune'}

In [38]:
"name" in dict1

True

In [40]:
dict1 = {'a':1,'b':2}
dict2 = {'a':1,'b':2}
dict3 = {'a':1,'b':2}

dict1 == dict2
dict1 != dict2

False

In [42]:
dict1 = {'a':1,'b':2}
dict1['a'] = 10
dict1

dict1['a'] += 10
dict1

{'a': 20, 'b': 2}

In [43]:
dict1

{'a': 20, 'b': 2}

In [44]:
# len function
len(dict1)

2

In [47]:
dict1 = {'name':'Avinash','age':22,'city':'pune'} 

#any(dict) - return if at least one key in the dictionary is truthy , otherwise returns false

print(any(dict1))

True

In [51]:
dict2 = {'name':'AVI','age':'','city':''} 
print(any(dict2.values())) # false when all one empty if one is fill then true

True

In [52]:
dict2 = {'name':'AVINASH','age':'','city':''} 
print(all(dict2.values())) # all - all fill , if one is empty then it is false

False

In [53]:
dict1 = {'name':'Avinash','age':22,'city':'pune'} 
max(dict1)

'name'

In [54]:
dict1 = {'name':'Avinash','age':22,'city':'pune'} 
min(dict1)

'age'

In [56]:
list(reversed(dict1))

['city', 'age', 'name']

In [57]:
sorted(dict1)

['age', 'city', 'name']

## Nested Dictionary

In [70]:
student_info = {
    "name":"Avinash",
    "age" : 22,
    "subject":{
        "math":82,
        "science":96,
        "English":90
    },

'student2':{
    "name":"bob",
    "age" : 26,
    "subject":{
        "math":80,
        "science":76,
        "English":60
    },
}
}




## nested dict-> {{}}

In [62]:
student_info["subject"]["science"]

96

In [63]:
student_info["subject"]["science"] = 94

In [64]:
student_info["subject"]["science"]

94

In [74]:
student_info['student2']['subject'] ['science'] = 82

In [76]:
student_info['student2']

{'name': 'bob',
 'age': 26,
 'subject': {'math': 80, 'science': 82, 'English': 60}}

In [81]:
for students_id, details in student_info.items():
    print(students_id)
    print(details)

name
Avinash
age
22
subject
{'math': 82, 'science': 96, 'English': 90}
student2
{'name': 'bob', 'age': 26, 'subject': {'math': 80, 'science': 82, 'English': 60}}

## Dict. Comprehension
- use -> filtering, consise way writing code,

In [83]:
square = {}
for i in range(1,6):
    square[i] = i*i ## main logic
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [85]:
square={x:x*x for x in range(1,6)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [86]:
square={x:x*x for x in range(1,6) if x%2==0}
square

{2: 4, 4: 16}

In [89]:
original = {'apple':2,'banana':5,'cherry':10}
filtered = {key: value for key,value in original.items()}
filtered

{'apple': 2, 'banana': 5, 'cherry': 10}

In [90]:
fruits = ['apple','banana','cherry']
f = {fruit.upper() : len(fruit) for fruit in fruits}
f

{'APPLE': 5, 'BANANA': 6, 'CHERRY': 6}

# Dict Interview coding questions

In [92]:
# Q. count the frequency of charaters in a string
str = "mississsppi"
dic ={}
for i in str:
    dic[i]=dic.get(i,0) + 1  #logic

print(dic)

{'m': 1, 'i': 3, 's': 5, 'p': 2}

In [94]:
## Invert a dictionary(key value ban jaye ur value key ban jaye)

input_dict = {'a':1,'b':2,'c':3}
inverted = {v:k for k,v in input_dict.items()}
inverted

{1: 'a', 2: 'b', 3: 'c'}

In [97]:
# Remove keys with empty values from a dictonary
input_dict = {'a':1,'b':'','c':3,'d':None}
removes = {k:v for k,v in input_dict.items() if v} # conditon in v (present)
removes

{'a': 1, 'c': 3}

In [102]:
# Q. Check if a dict is a subset of another dict

def check(dict1,dict2):
    return all(i in dict2.items() for i in dict1.items())

dict1 ={'a':1,'b':2}
dict2 ={'a':1,'b':2,'c':3}

check(dict1,dict2)

True