In [1]:
a = "learning logic"

## String

In [2]:
type(a)

str

In [ ]:
# single-quoted ', double-quoted" and triple quoted ''' are used in string
# string is immutable -  once created can't change

In [10]:
## Multiple line string
a  = '''My name is 
 Avinash'''

In [9]:
a

'My name is \nAvinash'

In [12]:
type(a)

str

In [13]:
s = "learning logic"

In [14]:
len(s)  ## len counting

14

In [19]:
s[2] ## indexing

'a'

In [22]:
p= "price katiyar"
p[-2]
#p[12]

'a'

In [25]:
# concatenation - same datatype
a = '3'
b="Avinash"

In [26]:
a+b

'3Avinash'

In [29]:
x="Avinash"
q="_Adsare"
x+q

'Avinash_Adsare'

In [35]:
# repeition
a = 3
b = "Prince"

In [36]:
a*b

'PrincePrincePrince'

In [37]:
## looping

str = "learning logic"
for i in str:
    print(i)

l
e
a
r
n
i
n
g

l
o
g
i
c

In [39]:
str = "Learning Logic"
i = 0
while i<len(str):
    print(str[i])
    i = i+1

L
e
a
r
n
i
n
g

L
o
g
i
c

In [45]:
str = "pricekatiyaar"
if "ric" in str:
    print("yes")
else:
    print("no")

yes

In [ ]:
# Comparison operator
## ==,!=,<=,>=,<,>

In [51]:
str1 = "prince"
str2 = "Prince"

In [52]:
str1 == str2

False

In [54]:
str1>str2

True

## Method and function in string

- len() - it is function
- s.upper() -  it is method (identified due to dot)
- s.count() - it is methof (identified due to dot)

In [60]:
# case conversion

str = "price katiyaar"
str.upper()
str.lower()
str.capitalize()
str.title() ## world 1st letter captalize
str.swapcase()

'PRICE KATIYAAR'

In [72]:
## String checking

str = "prince katiyaar"
str.isalpha() #all value alphabet
str.isalnum()
str.islower()
str.isupper()
str.isspace()
str.istitle()
str.isdecimal()
str.isnumeric()

False

In [77]:
# String manipulation
str = " princekatiyarr  "
str.strip() #removes spaces
str.lstrip() # left side spaces removed
str.rstrip() # ride side spaces removed

str.replace("katiyar","Katiyaar") # replace(oldvalue,newvalue)

' princeKatiyaarr  '

In [79]:
str = "Avinash Adsare"
str.split('i') # split the string

['Av', 'nash Adsare']

In [82]:
str = ['Av', 'nash Adsare']
"#".join(str) #join function

'Av#nash Adsare'

In [86]:
#string searching

str = "prince ml katiyaaaar ml"
#str.find("ml") # find - index no. of first occurance

str.rfind("ml") ## last occurance

21

In [91]:
str.find("m") ## if not present it gives -1

7

In [93]:
str.index("m") ## if value is not present then it will gives value errror

7

In [96]:
# formatting
name = "Avinash"
age = 22
str = "my name is {} and my age is {}"

str.format(name,age)

'my name is Avinash and my age is 22'

In [99]:
name = "Ram"
age = 22
str = f"my name is {name} and my age is {age}"
print(str)

my name is Ram and my age is 22

In [103]:
str="vyutghjv deda3s56jhb"
len(str)
max(str)
min(str)

' '

## Escape charaters in Python

In [107]:
#\n - newline

print("this is my  python class\n at 9am")

this is my  python class
 at 9am

In [ ]:
print("this is my  python class\n at 9am")

In [108]:
print(r"this is my  python class\n at 9am")

this is my  python class\n at 9am

In [109]:
print("this is my  python class\n at 9am\n i will cover all points in it")

this is my  python class
 at 9am
 i will cover all points in it

In [111]:
#\t -> insert a horizontal tab space in string

print("this is my  python class\t at 9am\t i will cover all points in it")

this is my  python class	 at 9am	 i will cover all points in it

In [112]:
# \\ -> backslash

print("this is my  python class\\ at 9am\\ i will cover all points in it")

this is my  python class\ at 9am\ i will cover all points in it

In [ ]:
# single Quote(' ')

print("this is mypython'class and 9am' i will cover all points in it")

In [114]:
# Double Quotes(\")
print("this is my \"python class at 9am\" i will cover all points in it")

this is my "python class at 9am" i will cover all points in it

In [115]:
# carriage return (\r) -> moves the cursor to the beginning of the line without advancing to the next line

print("this is mypython \rclass and 9am\r i will cover all points in it")

 i will cover all points in it

In [117]:
# askspace(\b) -> moves the cursor one position back(deletes the previous charaters)

print("this is mypython \bclass and 9am\b i will cover all points in it")

this is mypythonclass and 9a i will cover all points in it

In [118]:
# form feed(\f) -> moves the cursor to the next line and to the beginning of the line


print("this is mypython \f class and 9am\f i will cover all points in it")

this is mypython  class and 9am i will cover all points in it

## Regular Expression

import re

re.match()
The re.match() function checcks for a match only at the beginning of the string

In [120]:
import re
pattern = r"\d+" #matches one or more digits
string = "12345abcs456"
match = re.match(pattern,string)
match.group()

'12345'

# re.search()
The re.search() function sacans through the string and returns the first match it finds

In [123]:
import re
pattern = r"\d+" #matches one or more digits
string = "12345abcs456"
search = re.search(pattern,string)
search.group()

'12345'

# re.findall()

the re,findall() function returns all matches of the pattern in the string as a list

In [125]:
import re
pattern = r"\d+" #matches one or more digits
string = "sfq356ef12345abcs456"
match = re.findall(pattern,string)
match

['356', '12345', '456']

# re.finditer
the re.finditer() function returns an iterator yileding match objects for each match

In [127]:
import re
pattern = r"\d+" #matches one or more digits
string = "dfd12345a76bcs456"
match = re.finditer(pattern,string)
for i in match:
    print(i.group(),i.span())

12345 (3, 8)
76 (9, 11)
456 (14, 17)

# re.sub()

The re.sub() function replaces all occurances of the pattern with a specified string

In [129]:
import re
pattern = r"\d+" #matches one or more digits
string = "buig12345abcs456"

new = re.sub(pattern,"#",string)
new

'buig#abcs#'

# re.split

The re.split() function splits the string at each occurance of the pattern

In [131]:
import re
pattern = r"\d+" #matches one or more digits
string = "1acaf2345abcs4vs56eae"
splits = re.split(pattern, string)
splits

['', 'acaf', 'abcs', 'vs', 'eae']

## 4. Common Regex Patterns
- Email Validation: r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
- URL Validation: r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"
- IP Address Validation: r"\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b"

In [132]:
text = "Please contact us at support@example.com or sales@example.co.uk. or  princekatiyar9393@gmail.com"
email_pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
email=re.findall(email_pattern,text)
email

['support@example.com', 'sales@example.co.uk.', 'princekatiyar9393@gmail.com']

## Replacing All Digits with a Character

In [133]:
number = "23-2-943 this is my phon enumber " 
re.sub(r"\d","*",number)

'**-*-*** this is my phon enumber '

##  Splitting a String by Multiple Delimiters

In [134]:
text = "apple, orange; banana|grape"
split_pattern = r"[,;|]"
fruits = re.split(split_pattern, text )
fruits

['apple', ' orange', ' banana', 'grape']

## String Interview coding question

In [ ]:
 # Q. Reverse a string

In [138]:
# Palindrome 
# check whether the string is palindrome or not:

str = "madam"
if str == str[::-1] :
    print("yes it is")
else:
    print("not it is not")

yes it is

In [141]:
# Q. Count the Occurrance of Each word in a sentence

def count_word(str):
    words = str.split()
    word_count={}
    for i in words:
        word_count[i] = word_count.get(i, 0)+1
    return word_count
count_word("hello world this is python class hello everyone")

{'hello': 2,
 'world': 1,
 'this': 1,
 'is': 1,
 'python': 1,
 'class': 1,
 'everyone': 1}

In [143]:
# Q. Find the longest word in sentence 
def longest(str):
    words = str.split()
    return max(words, key =
                len)
longest("this is prince katiyaar class for python ")

'katiyaar'

In [1]:
# Q. Find the min length word in sentence 
def longest(str):
    words = str.split()
    return min(words, key =len)
longest("this is prince katiyaar class for python ")

'is'

In [2]:
# Q. Find the length of the last word in sentence

def last(str):
    words = str.split()
    if words:
      return len(words[-1])
    else:
       return "no words"
last("this is my python classs")

6