## List

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]

In [2]:
type(a)

list

In [3]:
b = list()

In [4]:
type(b)

list

In [5]:
c = list((1,23,15)) ## type conversion

In [6]:
type(c)

list

In [9]:
# list can store any type of value
a = [1,23,45,8,4,9,2,4,6,6]  ## homogeneous list

b = [1,"2",[1,5,9,8],[69,7,8,"Avi",False],True,4+5j]  ## getertogenous list

In [10]:
type(b)

list

In [12]:
b[3]

[69, 7, 8, 'Avi', False]

In [13]:
b[3][2]

8

In [14]:
b[0:4:2]

[1, [1, 5, 9, 8]]

## List operators 
- concatination
- repetition
- membership
- looping

functions
- max
- min
- sum 
- sorted
- reverse

In [1]:
# concatination
l1 = [1,2,3,4,5]
l2 = [15,48,6,97]

In [2]:
l1+l2 ## concatenation operators

[1, 2, 3, 4, 5, 15, 3, 6, 97]

In [3]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [4]:
l1 = l2

In [5]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [6]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [7]:
# repetition operators
a= 3
l1

[15, 3, 6, 97]

In [8]:
l1*3

[15, 3, 6, 97, 15, 3, 6, 97, 15, 3, 6, 97]

In [9]:
# membership operators
34 in l1

False

In [11]:
if 15 in l1:
    print("yes")
else:
    print("no")

yes

In [12]:
if 55 not in l1:
    print("yes")
else:
    print("no")

yes

In [14]:
## looping
l1
for i in l1:
    print(i)

15
3
6
97

In [15]:
i = 0
while i<len(l1):
    print(l1[i])
    i = i+1

15
3
6
97

In [17]:
## functions
l1
len(l1)

4

In [18]:
max(l1)

97

In [19]:
min(l2)

3

In [20]:
# function is that it is not dependent on any class
sum(l1)

121

In [21]:
sorted(l1)

[3, 6, 15, 97]

In [23]:
l3 = [3,6,9,7,1,7,2,8,4,42,712,82,241,53]

In [24]:
sorted(l3)

[1, 2, 3, 4, 6, 7, 7, 8, 9, 42, 53, 82, 241, 712]

In [31]:
l3_new=list(reversed(l3))

In [32]:
l3_new

[53, 241, 82, 712, 42, 4, 8, 2, 7, 1, 7, 9, 6, 3]

In [33]:
l4=[1,2,3]

In [34]:
rv= list(reversed(l4))

In [35]:
rv

[3, 2, 1]

## List methods

In [36]:
l=[1,2,3,4,5,8]

In [37]:
l[3]

4

In [38]:
l[:3]

[1, 2, 3]

In [39]:
l[2:5:2]

[3, 5]

## List modification

In [40]:
l = [1,2,5,8,4,6,18,16,42,556,745]

In [43]:
## append : it add element in last , one element only

l.append("Avinash")

In [44]:
l

[1, 2, 5, 8, 4, 6, 18, 16, 42, 556, 745, '445', 'Avinash']

In [45]:
l.append("Learner")

In [46]:
l

[1, 2, 5, 8, 4, 6, 18, 16, 42, 556, 745, '445', 'Avinash', 'Learner']

In [48]:
# extend :add more value or element at last

l.extend([4,5]) # you have to pass the multiple value in list only

In [49]:
l

[1, 2, 5, 8, 4, 6, 18, 16, 42, 556, 745, '445', 'Avinash', 'Learner', 4, 5]

In [50]:
# insert -> add a element at any specific position

l.insert(2,"python")  #(indexnumber, value)

In [51]:
l

[1,
 2,
 'python',
 5,
 8,
 4,
 6,
 18,
 16,
 42,
 556,
 745,
 '445',
 'Avinash',
 'Learner',
 4,
 5]

In [52]:
## removing -> to remove value

# remove on value based / remove on index based
# last index by pop

In [54]:
l.remove(556) # value based remove

In [55]:
l.pop() # last element remove

5

In [57]:
l.pop(1) # index based remove - put index in column

'python'

In [58]:
l

[1, 5, 8, 4, 6, 18, 16, 42, 745, '445', 'Avinash', 'Learner', 4]

In [59]:
l1 = list() ## empty list

In [60]:
l1

[]

In [61]:
l

[1, 5, 8, 4, 6, 18, 16, 42, 745, '445', 'Avinash', 'Learner', 4]

In [62]:
l.clear() # values removes list str. exists

In [63]:
l

[]

In [64]:
del l ## complete delete the list

In [65]:
l

NameError: name 'l' is not defined

## shallow and deep copy()

- shallow copy - temporary copy . new value exist , original value erase hoti hai

- deep copy - new object create and original exists also

In [66]:
## shallow copy : create a new list object with the same element but does not create copies of nested object

In [68]:
import copy
lst =[1,[36,48],5]
shallow =lst.copy()
shallow[1][1] = 99

In [69]:
lst

[1, [36, 99], 5]

In [70]:
shallow

[1, [36, 99], 5]

In [73]:
l7 = [26,262,[1,25,62,6,4,3,[263,628,3+5j,5169,26],5595,26,15],0,35,359,61]
deep_copy = copy.deepcopy(l7)

In [74]:
deep_copy

[26,
 262,
 [1, 25, 62, 6, 4, 3, [263, 628, (3+5j), 5169, 26], 5595, 26, 15],
 0,
 35,
 359,
 61]

In [75]:
deep_copy[2][3] =100

In [76]:
deep_copy # new list (deep copy change happens here)

[26,
 262,
 [1, 25, 62, 100, 4, 3, [263, 628, (3+5j), 5169, 26], 5595, 26, 15],
 0,
 35,
 359,
 61]

In [77]:
l7 ## original list

[26,
 262,
 [1, 25, 62, 6, 4, 3, [263, 628, (3+5j), 5169, 26], 5595, 26, 15],
 0,
 35,
 359,
 61]

## Zip and enumerate function

- Zip - applay on any data type

In [93]:
l1 = [1,2,3]
l2 = [4,5,6]

In [97]:
a = zip(l1,l2)
a    ## zip ka output dekhne ke liye aapko type dena padega tabhi dikhega

In [91]:
print(dict(a))

{1: 4, 2: 5, 3: 6}

In [95]:
print(list(a))

[(1, 4), (2, 5), (3, 6)]

In [98]:
print(tuple(a))

((1, 4), (2, 5), (3, 6))

In [99]:
# zip function on tuple
t1 = (5,6,90)
t2 = (62,28,39)

In [100]:
t =zip(t1,t2)

In [103]:
print(tuple(t))

((5, 62), (6, 28), (90, 39))

In [106]:
# zip on string
s1 = "Avinash"
s2 = "Adsare"

b =zip(s1,s2)
print(tuple(b))

(('A', 'A'), ('v', 'd'), ('i', 's'), ('n', 'a'), ('a', 'r'), ('s', 'e'))

In [110]:
# Zip on range

r1= range(1,5)
r2 = range(5,10)

c = zip(r1,r2)
print(dict(c))

{1: 5, 2: 6, 3: 7, 4: 8}

In [120]:
name = ["prince","rajat","Avinash"]
ages = [25,30,22]
cities = ["Pune","Bombay","Delhi"]

In [121]:
z = zip(name,ages,cities)

print(list(z))

[('prince', 25, 'Pune'), ('rajat', 30, 'Bombay'), ('Avinash', 22, 'Delhi')]

# enumerate function

In [123]:
names = ["prince","Avinash","Akash"] ## list
for i,j in enumerate(names):
    print(i,j)

0 prince
1 Avinash
2 Akash

In [126]:
names = ("prince","Avinash","Akash","Yash") # tuple
for i,j in enumerate(names, start = 1):
    print(i,j)

1 prince
2 Avinash
3 Akash
4 Yash

In [128]:
items = {"a":1,"b":2,"c":3}

for index,(key, value) in enumerate(items.items()):
    print(index,key,value)

0 a 1
1 b 2
2 c 3

# List comprehension

In [129]:
s = []
for i in range(10):
    s.append(i**2)

In [130]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
s = [i**2 for i in range(10)]

In [133]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## expression - (operation , loop, condition)

In [136]:
s = [i**2 for i in range(10) if i %2 == 0]

In [137]:
s

[0, 4, 16, 36, 64]

In [138]:
s = [i**2 for i in range(10) if i %2 != 0]

In [139]:
s

[1, 9, 25, 49, 81]

# sorted and sort
- sort changes into original list - swallo copy
- sorted not changes into original list - deep copy

In [144]:
l = [1,2,93,44,5,76,7,9]
l.sort()  # sort is method

In [145]:
l

[1, 2, 5, 7, 9, 44, 76, 93]

In [146]:
l1 = l.sort(reverse=True) ## reveresed
l

[93, 76, 44, 9, 7, 5, 2, 1]

In [147]:
sorted(l)

[1, 2, 5, 7, 9, 44, 76, 93]

In [148]:
lst = [2451,5611,828121,64215445158,124747,158,128,854752,8572,658]

In [150]:
lt=sorted(lst)

In [151]:
lt

[128, 158, 658, 2451, 5611, 8572, 124747, 828121, 854752, 64215445158]

In [152]:
lst

[2451, 5611, 828121, 64215445158, 124747, 158, 128, 854752, 8572, 658]

## Del vs None type

In [153]:
## delete karna ur memory khali karna
x = 5
del x
print(x)

NameError: name 'x' is not defined

In [156]:
l = [1,2,3]
del l[1]

In [157]:
l

[1, 3]

In [158]:
my_dict = {"a":1,"b":2,"c":3}
del my_dict

In [159]:
my_dict

NameError: name 'my_dict' is not defined

In [160]:
## None : it is data type

In [172]:
x = None
print(x)
type(x)

x=5
print(x)
type(x)

None
5

int

In [164]:
x = True

In [167]:
print(True)
type(x)

True

bool

In [170]:
x= "Avinash"
type(x)

str

In [173]:
x = None
if x is None:
    print("x is none now")
else:
    print("x is not same")

x is none now

## list interview questions

In [184]:
# Q. reverse a list

l = [1,2,3,5,4,5,8]

In [175]:
l[::-1]

[8, 4, 5, 3, 2, 1]

In [177]:
lst = reversed(l)
print(list(lst))

[8, 4, 5, 3, 2, 1]

In [179]:
def reversed(l):
    return l[::-1]
reversed(l)

[8, 4, 5, 3, 2, 1]

In [181]:
# Q . check duplicates
# set - no duplicates supports
l

[1, 2, 3, 5, 4, 8]

In [186]:
l = [1,2,3,6,4,6,9,49,5,82,6,24,12,2,2,5,3,71,8,2]

def duplication(l):
    return len(set(l))
duplication(l)

13

In [187]:
l = [1,2,3,6,4,6,9,49,5,82,6,24,12,2,2,5,3,71,8,2]

def duplication(l):
    return len(set(l)) == len(l)
duplication(l)

False

In [4]:
# Q. Rotate a list to right by k steps
l1 =[1,2,3,4,5]

def rotate_list(l1,k):

    return l1 [-k:] + l1[:-k]
rotate_list(l1,3)

[3, 4, 5, 1, 2]

In [8]:
## Split a list into Chunks
 
l1
chunks = []

for i in range(0,len(l1),2):
    chunk = l1[i:i+2]
    chunks.append(chunk)
print(chunks)

[[1, 2], [3, 4], [5]]

In [10]:
l1
def chunk_list(l1,n):
    chunks = []
    for i in range(0,len(l1),2):
       chunk = l1[i:i+2]
       chunks.append(chunk)
    return chunks

chunk_list(l1,2)

[[1, 2], [3, 4], [5]]

In [4]:
# remove duplicates from a list , without set 

def remove(l1):
    i = 0
    while i < len(l1):
        if l1.count(l1[i])>1:
            l1.remove(l1[i])
        else:
            i+=1
        return l1
remove(l1)

[53, 4, 8, 5, 4, 55, 4, 11, 5, 2, 2, 25]

In [2]:
l1 = [53,4,8,5,4,55,4,11,5,2,2,25]