## Loops

## repatative work where loop is use
## loop applied on  - list, string, dict, tuples,files

## store data - for loop used
## condition data - while loop used

In [3]:
## for loop - list , tuple
## range function - generate value in sequential order
range(1,11)

[1, 2, 3, 4, 5]

In [5]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1,15,2))

[1, 3, 5, 7, 9, 11, 13]

In [8]:
l = [1,2,3,4,5]
5 in l

True

In [9]:
## for loop
for i in l:
    print(i)

1
2
3
4
5

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in l:
    print(i)
    print(i+1)
    print(type(i))

1
2
<class 'int'>
2
3
<class 'int'>
3
4
<class 'int'>
4
5
<class 'int'>
5
6
<class 'int'>

In [14]:
fruits = ["apple","banana","grapes"]
for j in fruits:
    print(j)

apple
banana
grapes

In [15]:
num  = [1,2,3,43,5]
for i in num:
    print(i)

1
2
3
43
5

In [16]:
str = "Avinash Adsare"
for i in str:
    print(i)

A
v
i
n
a
s
h

A
d
s
a
r
e

In [17]:
tup  = (1,234,5)
for i in tup:
    print(i)

1
234
5

In [21]:
my_dict = {'a':21,'b':544,'c':25}
for i,j in my_dict.items():
    print(i,j)

a 21
b 544
c 25

In [22]:
## for loop types -1) for loop 2)Nested loop 3) for-else loop

## Nested Loop

In [26]:
number =int(input("enter the number for which i table you want"))

for i in range(1,11):
    print(f"{number}*{i} = {number * i}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [29]:
fruits = ['apple','banana','cherry']
for index,i in enumerate(fruits):
    print(index,i)  ##python tutor

0 apple
1 banana
2 cherry

In [38]:
numbers = [1,2,3,4,5,6,7,8,9,10]
l=[]
for i in numbers:
    if i%2 == 0:
        print("Even number",i) ## even numbers
    if i%2 != 0:
        print("Odd number" ,i)
    #print(i)

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10

In [39]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [43]:
## table print

for i in range(1,11):
    for j in range(1,3):
        print(f"{i}*{j} = {i*j}")

1*1 = 1
1*2 = 2
2*1 = 2
2*2 = 4
3*1 = 3
3*2 = 6
4*1 = 4
4*2 = 8
5*1 = 5
5*2 = 10
6*1 = 6
6*2 = 12
7*1 = 7
7*2 = 14
8*1 = 8
8*2 = 16
9*1 = 9
9*2 = 18
10*1 = 10
10*2 = 20

In [46]:
colors =["red","pink","blue"]
sizes = ["s","m","l"]

for color in colors:
    for size in sizes:
        print(f"{color} {size}")

red s
red m
red l
pink s
pink m
pink l
blue s
blue m
blue l

## While Loop
 Used when no of iteration not known

In [49]:
x = 5
while x>2:
    print(x)
    x = x-1

5
4
3

In [53]:
x = 5
while x<12:
    print(x)
    x = x+1

5
6
7
8
9
10
11

In [55]:
start =0
end = 5
while start < end:
    print(start)
    start += 1

0
1
2
3
4

In [58]:
fruits = ['mango','apple','banana','cherry']
while fruits:
    print(fruits.pop())

cherry
banana
apple
mango

In [59]:
x = 4
while True :
    print(x)
    if x >= 10:
        break
    x += 1

4
5
6
7
8
9
10

In [61]:
## dict
my_dict = {'a':21,'b':544,'c':25}
while my_dict:
    key,value = my_dict.popitem()
    print(f"this is {key}:{value}")

this is c:25
this is b:544
this is a:21

In [65]:
num = -1
while num <= 0:
    num = int(input("Enter the number you want "))
print("this is your number",num)

this is your number 5

In [67]:
x = 5
while x< 10:
    print(x)
    x += 1
else:
    print("condition is failed")

5
6
7
8
9
condition is failed

In [68]:
## two conditions
x,y = 0,10
while x<5 and y>5:
    print(f"x:{x} and y:{y}")
    x = x+1
    y = y-1

x:0 and y:10
x:1 and y:9
x:2 and y:8
x:3 and y:7
x:4 and y:6

## Break  and Continue

In [72]:
## break  - if condition is true then break

x = 5
while x<10:
    print(x)
    if x == 7:
        print("Condition is found")
        break
    print("this is inside a loop")
    x +=1 
    print("this is out of loop")

5
this is inside a loop
this is out of loop
6
this is inside a loop
this is out of loop
7
Condition is found

In [75]:
for i in range(10):
    print(i)
    if i == 7:
        print("7 is found dont excute further")
        break
    print("this is inside a loop")

0
this is inside a loop
1
this is inside a loop
2
this is inside a loop
3
this is inside a loop
4
this is inside a loop
5
this is inside a loop
6
this is inside a loop
7
7 is found dont excute further

In [92]:
ball_faced = 0
runs_scored = 0

while ball_faced <6:
   
    run = int(input(f"runs scored{ball_faced}"))
    
    if run == -1:
        print("your inning is over")
        break

    runs_scored += run
    ball_faced += 1
print(runs_scored)

142

## Continue

In [86]:
x= 0
while x<10:
    x+=1
    if x==7:
        #print("7 is found loop is not runs further")
        continue  
    print(x)

1
2
3
4
5
6
8
9
10

In [87]:
x= 0
while x<10:
    x+=1
    if x%2 ==0:
        #even values print
        continue  
    print(x)

1
3
5
7
9

In [90]:
for i in range(1,11):
    if i%2 == 0:
        # break
        continue
    print(i)

1
3
5
7
9

In [96]:
ball_faced = 0
runs_scored = 0

while ball_faced <6:
    
    run = int(input(f"runs scored{ball_faced}"))
    
    if run == -1:
        print("This is wide ball and {ball_faced} and this will not count")
        continue

    runs_scored += run
    ball_faced += 1
print(runs_scored)

This is wide ball and {ball_faced} and this will not count
234

## Pass -> Keyword 
Used in -> loops,condition,function,class

In [5]:
x = 4
if x > 5 :
   pass
else:
   print("okk")

okk

In [11]:
for i in range(3):
    pass
x =3
if x == 3:
    print(x)

3

In [15]:
def myfun(x):
    print(x)

myfun(4)

4

In [17]:
class myclass:
    x = 6
    print(x)

c = myclass()

6

## Question Practice

In [27]:
# Sum of 1 to 50 even numbers.
sum = 0
for i in range(1,51):
    if i%2 == 0:
        continue
      
    #print(i)
    sum = sum +i
print(f"Sum of numbers",sum)

Sum of numbers 625

In [34]:
# Q. Write a python program to find the first multiple of 7 in the range from 10 to 50  using a for loop and brak stmt.
for i in range(10,51):
    if i % 7 == 0:
        print(f"this is the first multiple of 7 : {i}")
        break
    print(i)

10
11
12
13
this is the first multiple of 7 : 14

In [2]:
# Q.Write a python program to count how many times the leeter 'a' apperars in a givenn string . Using a for loop and continue statement.
text = "An apple a day keep a dockers away"
count_a = 0
for char in text :
    if char !='a'and char != "A":
        continue
        
    count_a +=1
print(count_a)
## 7 times a oocurs

7

In [6]:
# Q. Prime no find from 10 - 30
# Prime no - no is divisible by 1 and itself

for num in range (10,31):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break ## not prime no
        else:
            print(num)

11
13
17
19
23
29

In [15]:
# Q. Write a python program to sum positive numbers in a list until a zero encountered using a for loop and break statement

l = [1,2,3,4,-1,7,6,9,5]
sum  = 0
for i in l:
    if i == -1:
        print(i)
        print("negative value")
        break
    sum  = sum +i
print(sum)

-1
negative value
10

## While loop questions

In [17]:
# Q. Write a python program to reverse a given number using a while loop
## while loop is use in reverse a number

number = 12345
reverse = 0

while number > 0:
    remainder =  number % 10
    reverse = (reverse*10) + remainder
    number //= 10


print(reverse)

54321

In [20]:
# Q. Write a python program to reverse a given number and their sum using a while loop
## while loop is use in reverse a number

number = 12345
sum = 0

while number > 0:
    sum +=  number % 10
    number //= 10

print(sum)

15

In [22]:
## Q. Write a python program to display a countdown timer from 10 to 1 using while loop

import time
countdown = 10
while countdown > 0:
    print(countdown)
    time.sleep(1)
    countdown -= 1
print("time up's ")

10
9
8
7
6
5
4
3
2
1
time up's

In [ ]:
# Q. Fibonaachic series
# Q .Factorial