In [1]:
t = (3,4,5,6,7)

In [3]:
t.count(95) # tuples have 2 inbulit functions only

0

In [4]:
t.count(4)

1

In [5]:
#tuples are immutable
t.index(4)

1

In [6]:
t.index(65)

ValueError: tuple.index(x): x not in tuple

In [7]:
#set- removes duplicates
s ={4,5,6,7,2,8,3,6,74,3,5,3,3}

In [8]:
s

{2, 3, 4, 5, 6, 7, 8, 74}

In [9]:
s.add(87)

In [10]:
s

{2, 3, 4, 5, 6, 7, 8, 74, 87}

In [11]:
s.add("Avinash")

In [12]:
s

{2, 3, 4, 5, 6, 7, 74, 8, 87, 'Avinash'}

In [13]:
s.clear() #clear all elements

In [14]:
s

set()

In [15]:
s1={"sudh","euron",4,1,5,6,7,3,3,2,2,4,5,6,4,6}

In [16]:
s1

{1, 2, 3, 4, 5, 6, 7, 'euron', 'sudh'}

In [17]:
s1.copy() #swallo copy -> new address occurs

{1, 2, 3, 4, 5, 6, 7, 'euron', 'sudh'}

In [18]:
s1.pop()

1

In [19]:
s1.pop()

2

In [21]:
s1.pop() #pop by sequential

3

In [22]:
s1.discard("sudh") #remove an element from set if it is a member

In [24]:
s1.pop()

4

In [25]:
s1

{5, 6, 7, 'euron'}

In [26]:
list(s1) #list converting

[5, 6, 7, 'euron']

In [27]:
tuple(s1) #set convert to tuple

(5, 6, 7, 'euron')

In [28]:
s1.discard(6,7) #discard can 1 element removes

TypeError: set.discard() takes exactly one argument (2 given)

In [31]:
#dict
d = {"name":"Avinash","Company":"Euron","Age":23,"classes":"python"}

In [32]:
d

{'name': 'Avinash', 'Company': 'Euron', 'Age': 23, 'classes': 'python'}

In [33]:
d.items()

dict_items([('name', 'Avinash'), ('Company', 'Euron'), ('Age', 23), ('classes', 'python')])

In [34]:
list(d.items())

[('name', 'Avinash'), ('Company', 'Euron'), ('Age', 23), ('classes', 'python')]

In [35]:
d.keys()

dict_keys(['name', 'Company', 'Age', 'classes'])

In [36]:
d.values()

dict_values(['Avinash', 'Euron', 23, 'python'])

In [37]:
d.pop("Age") #passing argument is mandatory

23

In [38]:
d

{'name': 'Avinash', 'Company': 'Euron', 'classes': 'python'}

In [40]:
d.update({"city":"pune","name":"Avinash"})

In [41]:
d

{'name': 'Avinash', 'Company': 'Euron', 'classes': 'python', 'city': 'pune'}

In [43]:
d.update({"class":"7 am live"})

In [44]:
d

{'name': 'Avinash',
 'Company': 'Euron',
 'classes': 'python',
 'city': 'pune',
 'class': '7 am live'}

In [45]:
s1 = {2,3,4,5,6,7,32,8}
s2 = {1,2,3,4,5,6,5,7,42,23}
#set intersection
#set union

In [46]:
s1.intersection(s2)

{2, 3, 4, 5, 6, 7}

In [47]:
s2

{1, 2, 3, 4, 5, 6, 7, 23, 42}

In [48]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 23, 32, 42}

In [54]:
#conditional Statement -> True/False
number_in_sem = 45
if number_in_sem >= 60 :     # if is reserved keyword in python
    print("First")            #indentation . Pass is also reserved keyword

In [52]:
number_in_sem >= 65

True

In [62]:
number = int(input())
if number >= 60:
    print("first class")
elif number >= 45:
    print("second class")
elif number >= 30:
    print("third class")
else:
    print("fail")

first class

In [56]:
#code run sequentially(line by line)

In [61]:
#input function - by default return string type
input()

'45'

In [66]:
x = int(input())

if x % 2 == 0:             # % returns remainder
    print(x,"input is even number")
else:
    print(x,"number is a odd number")

8 input is even number

In [71]:
light = input("Enter the light condition")
if light == "red":
    print("STOP")
elif light == "green":
    print("you can go now")
else:
    print("slow down")

STOP

In [75]:
username = input("Enter your user name")
password = input("enter your password")

if username == "Avinash" and password == "euron":
    print("allow loging")
elif username != "Avinash":
    print("user does not exit")
elif password != "euron":
    print("incorrect password")
else:
    print("Input is invalid")

incorrect password

# Assignment

Write a Python program to append the number 5 to the list [1, 2, 3, 4] using an inbuilt method

Remove the element "banana" from the list ["apple", "banana", "cherry"];

Insert the element "orange" at index 1 in the list ["apple", "cherry"]

Find the index of the number 3 in the list [1, 2, 3, 4, 5],

Reverse the list [1, 2, 3, 4] using an inbuilt method.

Write a Python program to slice and print the first three elements of the list [10, 20, 30]
Write a program to simulate a traffic light system (red, yellow, green).

Write a program to calculate the electricity bill based on slab rates for different units.

Create a program to determine if a given string starts with a vowel or not.
Intermediate Problems

Write a program to calculate the grade of a student based on their marks using multiple elif conditions.

Write a program to simulate a traffic light system (red, yellow, green).

Write a program to calculate the electricity bill based on slab rates for different units.

Create a program to determine if a given string starts with a vowel or not.

Write a program to calculate the income tax for a user based on their income slab.

Write a program that checks if a given number is prime or not using conditional statements.

Write a program to determine if a number is a palindrome or not.

Write a program to display the menu of a coffee shop and take the user's order based on input. Write a program to check whether la person is eligible for a senior citizen discount based on their age.

Write a program to categorize a person's weight based on the following conditions:
Underweight: BMI < 18.5

Normal weight: 18.5 ≤ BMI < 24.9

Overweight: 25 ≤ BMI < 29.9

Obese: BMI ≥ 30

Advanced Problems

Write a program to determine if a number is a strong number (sum of factorials of its digits

Write a program to simulate a basic ATM system, allowing the user to check balance, deposit,

Write a program to categorize the season based on the input month (e.g., winter, summer, mor

Write a program to calculate a discount based on the purchase amount:

Above 5000: 20% discount

₹3000-₹5000: 15% discount

₹1000-₹3000: 10% discount

Below 1000: 5% discount

Write a program to classify a number as positive, negative, or zero, and further as even or

Write a program to validate a password: Minimum 8 characters

Contains at least one uppercase letter, one lowercase letter, one digit, and one special character.

Write a program to determine the day of the week based on an input number (1 for Monday, 7 for Sunday).

Write a program to implement a grading system for employees based on their performance rating.

Write a program to check whether a given number is part of the Fibonacci sequence or not.

Write a program to determine the zodiac sign of a person based on their birthdate.