In [1]:
#LOOP
l = [3,4,5,6,7,8,5]

#removing data one by one from list - use loop

In [2]:
for i in l:       #i is a local varible
    print(i)

3
4
5
6
7
8
5

In [3]:
l = [3,4,5,6,7,8,5]
for sudh in l:
    print(sudh ** 2)     #power

9
16
25
36
49
64
25

In [4]:
#inbuilt function
range(5)

range(0, 5)

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [10]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(1,10,2))    #2 is jump/ 10 is upper bound

[1, 3, 5, 7, 9]

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
l = ["Avinash","euron",3,4,5,6,7,8,"python hindi"]

In [13]:
#prints only string data elements
for i in l:
    if type(i) == str:
        print(i)

Avinash
euron
python hindi

In [14]:
s = "euron"
for i in s:
    print(i)

e
u
r
o
n

In [16]:
t = (4,5,6,7,8,9)
for i in t:
    print(i)

4
5
6
7
8
9

In [17]:
s ={2,4,3,5,6,5,7,65,46}

In [18]:
for i in s:
    print(i)

65
2
3
4
5
6
7
46

In [19]:
d ={"name":"euron","class":"python","city":"pune"}

In [20]:
d.keys()

dict_keys(['name', 'class', 'city'])

In [21]:
for i in d.keys():
    print(d[i])

euron
python
pune

In [23]:
for i in d.keys():
    print(i)

name
class
city

In [22]:
#print 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
#fibonacchi series. A set of no. where no are addition of previous number
#0 1 1 2 3 5 8 ...

limit = 10
a = 0
b= 1
for i in range(limit):
    print(a)
    a,b = b,a+b  #logic

0
1
1
2
3
5
8
13
21
34

In [26]:
#While Loop - It checks condition first

#fibonacchi series

limit = 10
a = 0
b = 1
i = 0

while i< limit:
    print(a)
    a,b = b, a+b
    i = i+1

0
1
1
2
3
5
8
13
21
34

In [27]:
n = 10
i = 0
while i< n:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [29]:
#prints reverse order
n =10
while n>0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [30]:
#function

#inbulit function

In [31]:
print("hi")

hi

In [32]:
range(4)

range(0, 4)

In [33]:
type("Avinash")

str

In [34]:
len("Avinash")

7

In [36]:
#user defined function -> increases reuseability

In [37]:
def hello():
    print("This is my hello function")

In [38]:
hello()

This is my hello function

In [39]:
def test(a,b):
    print(a,b)

In [41]:
test(20,56) # a = 20,b = 56

20 56

In [42]:
def fib(limit):
    a = 0
    b = 1
    for i in range(limit):
        print(a)
        a,b = b,a+b

In [43]:
fib(4)

0
1
1
2

In [44]:
fib(12)

0
1
1
2
3
5
8
13
21
34
55
89

In [48]:
def test(a):
    print(a) #always non type data type

In [49]:
test(45)

45

In [50]:
test(45)+54

45

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [51]:
def test1(a):
    return a  #return is reserved

In [53]:
test1(45) + 51

96

In [54]:
def add(a,b):
    return a+b

In [55]:
add(8,8)

16

In [56]:
def power(n,pow):
    return n**pow

In [57]:
power(10,4)

10000

In [62]:
def add_pow(n,m):
    """this function will return power,addition,subtraction,mul,division"""
    return n**m,n+m,n*m,n/m,n-m

In [59]:
pow,add,mul,div,sub=add_pow(5,6)

(15625, 11, 30, 0.8333333333333334, -1)

In [60]:
type(add_pow(5,6))

tuple

In [61]:
a,b = 0,1 #variable declaration

In [63]:
add_pow(5,6)

(15625, 11, 30, 0.8333333333333334, -1)

In [64]:
def test2(a,b):
    return sum(a,b)

In [65]:
def test3(*args):                   #multiple i/p * is used
    return sum(args)

In [67]:
test3(4,50,6,7)

67

In [70]:
def test4(**Avi):
    return Avi

In [71]:
test4(name="Avinash",company = "euron")

{'name': 'Avinash', 'company': 'euron'}

# Assignments

Function-Based Assignments

write a function to check if a number is prime.

Create a function to return the factorial of a given number.

write a function to calculate the GCD (Greatest Common Divisor) of two numbers.

Create a function to reverse a string and check if it is a palindrome.

write a function to count the number of vowels in a string

Create a function that accepts a list and returns a new list with only even numbers.

write a function to generate the first in terms of the ribonacci sequence

Create a function to find the maximum and minimum in a list,

write a function that takes a dictionary and prints each key-value pair.

create a function to calculate the compound interest given principal, rate, and time.

While Loop Ass Egriments

Write a program to find the sum of digits of a given number using a while loop

89

Create a program that uses a while loop to reverse a number.

11 jan liver clas

write a while loop program to find the largest digit in a number.

Use a while loop to print all even numbers from 1 to n.

write a program using while loop to repeatedly prompt a user to guess a randomly generated number until they guess carre

A

Create a while loop to continuously prompt the user for input until they type "exit".

write a program using a while loop to calculate the sum of the first in natural numbers.

25th jan live class

TE

write a program using a while loop to check if a number is an Armstrong number.

Create a countdown timer using a while loop, starting from a given number and ending at zero.

write a progras using a while loop to find the LCM (Least Common Multiple) of two numbers.

While Loop Ass Egriments

Write a program to find the sum of digits of a given number using a while loop

89

Create a program that uses a while loop to reverse a number.


write a while loop program to find the largest digit in a number.

Use a while loop to print all even numbers from 1 to n.

write a program using while loop to repeatedly prompt a user to guess a randomly generated number until they guess carre

A

Create a while loop to continuously prompt the user for input until they type "exit".

write a program using a while loop to calculate the sum of the first in natural numbers.

write a program using a while loop to check if a number is an Armstrong number.

Create a countdown timer using a while loop, starting from a given number and ending at zero.

write a progras using a while loop to find the LCM (Least Common Multiple) of two numbers.


For Loop Assignments

Mrite a program using a for loop to print the multiplication table of a give number.

Create a program using a for loop to print all numbers divisible by 3 and 5 between 1 and n.

Write a for loop to calculate the sum of squares of the first in natural numbers.

Create a program using a for loop to find all prime numbers between 1 and n.

Use a for loop to iterate through a list of strings and print their lengths. write a gregren to find the second largest number in a list using a for loop,

Create a program using nested for loops to print a right-angled triangle pattern of stars.

write a program to count how many numbers in a list are greater than a given threshold using

Create a programs using for loop to print the reverse of a list.

write progcen using a for loop to find the sum of all odd numbers in a list.

I