In [4]:
#Tuples
t=()

In [5]:
type(t)

tuple

In [6]:
t=(4,5,6,7,"sudh",5+7j,True,False,[1,3,5,2])

In [7]:
#tuples are immutability
t[0]

4

In [8]:
t[-1]

[1, 3, 5, 2]

In [9]:
t

(4, 5, 6, 7, 'sudh', (5+7j), True, False, [1, 3, 5, 2])

In [10]:
t[0:4]

(4, 5, 6, 7)

In [11]:
#removing complex no.-> imaginary part
t[5]

(5+7j)

In [12]:
type(t[5])

complex

In [13]:
t[5].imag

7.0

In [14]:
t[5].real

5.0

In [15]:
t[4] [1:3]

'ud'

In [16]:
t1=(4,5,6,7)

In [17]:
l1 =[3,4,5,6,7]

In [18]:
l1[0]

3

In [19]:
l1[0] = "Sudh"

In [20]:
l1

['Sudh', 4, 5, 6, 7]

In [21]:
# in list element updation possible/ mutability

In [22]:
t1

(4, 5, 6, 7)

In [23]:
t1[0] = "Sudh"

TypeError: 'tuple' object does not support item assignment

In [24]:
#'tuple'
#  object does not support item assignment / immutable

In [25]:
l1

['Sudh', 4, 5, 6, 7]

In [26]:
t1

(4, 5, 6, 7)

In [27]:
list(t1) #type conversion

[4, 5, 6, 7]

In [28]:
#string
s="sudh"

In [29]:
s[0]

's'

In [30]:
s[0] = "a"

TypeError: 'str' object does not support item assignment

In [31]:
#string is also immutability

In [32]:
s1 = {}

In [33]:
type(s1)

dict

In [34]:
s2= {4,5,6,7,8,9,9}

In [35]:
type(s2)

set

In [36]:
s2

{4, 5, 6, 7, 8, 9}

In [37]:
#set removes duplicate data

In [38]:
s3={"sudh","Sudh",4,5,5,6,7,3,5,6,4}

In [39]:
s3

{3, 4, 5, 6, 7, 'Sudh', 'sudh'}

In [40]:
#set is unique & unorder data

In [41]:
s4={9,2,3,35.3,5,7,4,6,83,False,"Euron","Avinash"}

In [42]:
s4

{2, 3, 35.3, 4, 5, 6, 7, 83, 9, 'Avinash', 'Euron', False}

In [43]:
s4[0]

TypeError: 'set' object is not subscriptable

In [44]:
#set creates random  indexing

In [45]:
#set convert into list -> type casting

l4 = list(s4)

In [46]:
l4

[False, 2, 35.3, 3, 5, 4, 7, 6, 9, 'Euron', 'Avinash', 83]

In [47]:
t4=tuple(s4)

In [48]:
t4

(False, 2, 35.3, 3, 5, 4, 7, 6, 9, 'Euron', 'Avinash', 83)

In [49]:
l5 = [4,3,5,6,6,2,78,5,7,4,2,4,5,4,6,6,34,2,423]

In [50]:
#removing duplicate elements from list
l6 = list(set(l5)) # type casting

In [51]:
l6

[2, 3, 4, 5, 6, 7, 34, 423, 78]

In [52]:
#dictionary -> key:value

In [53]:
d = {"name":"Avinash","City":"Pune","Age":23,"class":"Python"}

In [54]:
d

{'name': 'Avinash', 'City': 'Pune', 'Age': 23, 'class': 'Python'}

In [55]:
d[0] #dict not contains indexing

KeyError: 0

In [56]:
d["name"] #accessing name in dict. Give key as input

'Avinash'

In [57]:
d1 ={0:[4,5,6,7],"Name":"euron","classes":["Python hindi","py eng","gen ai","mlops"]}

In [58]:
d1["classes"]

['Python hindi', 'py eng', 'gen ai', 'mlops']

In [59]:
d1 ={0:[4,5,6,7],"Name":"euron","classes":["Python hindi","py eng","gen ai","mlops"],
    "Name":"Sudh" }

In [60]:
d1 # in dict key should be - unique

{0: [4, 5, 6, 7],
 'Name': 'Sudh',
 'classes': ['Python hindi', 'py eng', 'gen ai', 'mlops']}

In [61]:
d1["Name"] = "avinash"

In [62]:
d1

{0: [4, 5, 6, 7],
 'Name': 'avinash',
 'classes': ['Python hindi', 'py eng', 'gen ai', 'mlops']}

In [63]:
d1["classes"] = "Python hindi batch"

In [64]:
d1

{0: [4, 5, 6, 7], 'Name': 'avinash', 'classes': 'Python hindi batch'}

In [65]:
#Dict is mutable

In [66]:
#String
s="sudhanshu"

In [67]:
s

'sudhanshu'

In [68]:
s.capitalize()

'Sudhanshu'

In [69]:
s.casefold()

'sudhanshu'

In [70]:
s.center(20)

'     sudhanshu      '

In [71]:
s.count('sug')

0

In [72]:
s1 = "Can you pls share good Text book for Deep Neural Network. I am pursuing M.Tech from BITS pilani and I need good bood urgently. Pls suggest"

In [73]:
s1

'Can you pls share good Text book for Deep Neural Network. I am pursuing M.Tech from BITS pilani and I need good bood urgently. Pls suggest'

In [74]:
s1.count("I")

3

In [75]:
s1.find("for") #find -> gives index . If data is not available then it gives -1

33

In [76]:
s1.index("for") #if keyword is not present then it gives error

33

In [79]:
s2 = "Sudhanshu"

In [80]:
s2.lower()

'sudhanshu'

In [81]:
s2.upper()

'SUDHANSHU'

In [82]:
"*".join(s2)

'S*u*d*h*a*n*s*h*u'

In [83]:
s2.isalnum() #is wale functions hamesha True/False output dete hai

True

In [84]:
s3 = "euron123"

In [85]:
s3.isalnum()

True

In [86]:
s4 ="*****"

In [87]:
s4.isalnum()

False

In [88]:
s3.isalpha()

False

In [89]:
s2.isalpha()

True

In [90]:
l =[3,4,5,6,7]

In [91]:
l.append("Avi")

In [92]:
l

[3, 4, 5, 6, 7, 'Avi']

In [93]:
l.append([1,0,8,6,4])

In [94]:
l

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [95]:
l.clear()

In [96]:
l

[]

In [97]:
l = [3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [98]:
l

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [100]:
l1 =l    #deep copy

In [101]:
l1

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [102]:
l

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [103]:
l2 = l.copy() #swallo copy

In [104]:
l2

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [105]:
l

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [106]:
l1

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [107]:
l1[0] ="euron"

In [108]:
l1

['euron', 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [109]:
l

['euron', 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [110]:
l2

[3, 4, 5, 6, 7, 'Avi', [1, 0, 8, 6, 4]]

In [111]:
s ="Sudhanshu"

In [112]:
s.find("su")

-1

# Assignment

# String
Write a Python program to check if a given string starts with a specific substring using an inbuilt wethod.

Convert the string "hello world" to uppercase using an inbuilt method.

Find the index of the first occurrence of the substring "Python" in the string "I am learning Pythogramming.

Replace all occurrences of "cat" with "dog" in the string "The cat sat on the cat mat".

Write a Python program to count the number of times the letter 'a' appears in the string "banana".

Extract the substring "world" from the string "Hello, World!" using slicing.

Reverse the string "Python" using slicing.

Write a program to remove leading and trailing whitespaces from the string Hello World"

Check if the string "abc123" is alphanumeric using an inbuilt method.

Split the string "apple, banana, cherry" into a list of words using an inbuilt method.

# List
Write a Python program to append the number 5 to the list [1, 2, 3, 4] using an inbuilt method

Remove the element "banana" from the list ["apple", "banana", "cherry"];

Insert the element "orange" at index 1 in the list ["apple", "cherry"]

Find the index of the number 3 in the list [1, 2, 3, 4, 5],

Reverse the list [1, 2, 3, 4] using an inbuilt method.

Write a Python program to slice and print the first three elements of the list [10, 20, 30]