In [1]:
l= [3,4,5,8]

In [2]:
type(l)

list

In [3]:
l #list calling. List contains heterogeneous elements

[3, 4, 5, 8]

In [4]:
l1 = [ 345,459.36,"Avinash",4+6j,True]

In [5]:
l1

[345, 459.36, 'Avinash', (4+6j), True]

In [6]:
#calling elements one by one in list

In [7]:
#tuple
t=()

In [8]:
type(t)

tuple

In [9]:
t1=(3,5,7,"Avinash",True,3+6J)

In [10]:
type(t1) #tuple can also save heterogeneous elements

tuple

In [14]:
#Set
s = {}

In [15]:
type(s)

dict

In [20]:
s1 ={3,4,5,6,8,7,8,9,0,1}

In [18]:
type(s1) #if the data is put into set then it is set. If empty then it is dict

set

In [21]:
s1

{0, 1, 3, 4, 5, 6, 7, 8, 9}

In [22]:
#set can automatically delete duplicate data. Set called unorder collection of data

In [24]:
#dictonary -> Key:value. Heterogenous
d = {"name":"Avinash", "Company":"euron","number of live class":10}

In [25]:
type(d)

dict

In [40]:
#string
str1 ="Avinash"

In [41]:
type(str1)

str

In [42]:
#removing particular element. Data manupulation
#string = collection/ combination of charaters, stored in the form of index.forward index start with 0. Backward index starts with -1

In [43]:
str1[0]       #indexing

'A'

In [44]:
str1[1]

'v'

In [45]:
str1[-1]

'h'

In [46]:
#slicing
str1[0:3]

'Avi'

In [49]:
str1[3:]

'nash'

In [50]:
str1[0:]

'Avinash'

In [51]:
#Ai
str1[0:3:2] # 3rd parameter is jump

'Ai'

In [52]:
str1[0::2] #alternate data

'Aiah'

In [53]:
s1 = "python hindi lecture"

In [54]:
s1[0:6]

'python'

In [55]:
s1[7:12]

'hindi'

In [56]:
s1[13:]

'lecture'

In [58]:
#alternate data. By deafult jump is 1
s1[0::2]

'pto id etr'

In [59]:
s2 ="AvinashAdsare"

In [60]:
s2[0::-1]    #conflict

'A'

In [61]:
s2[::-1] #reverse

'erasdAhsanivA'

In [63]:
s2[7:4:-1]

'Ahs'

In [64]:
s2[-2:-5:-1]

'ras'

In [69]:
s2[8::-2] #negative jump 2

'dhaiA'

In [70]:
s2[::-2]

'eadhaiA'

In [71]:
s2[::-1] #reverse by -ve index

'erasdAhsanivA'

In [72]:
l = [3,4,5,6,7,8,"avi","euron","python hindi"]

In [73]:
l[8] #same case in list also

'python hindi'

In [74]:
l[-1]

'python hindi'

In [75]:
l

[3, 4, 5, 6, 7, 8, 'avi', 'euron', 'python hindi']

In [76]:
l[::-1]

['python hindi', 'euron', 'avi', 8, 7, 6, 5, 4, 3]

In [77]:
l[6]

'avi'

In [78]:
#print only python
l[8]

'python hindi'

In [80]:
type(l[8])

str

In [81]:
l[8][0:6]

'python'

In [82]:
l

[3, 4, 5, 6, 7, 8, 'avi', 'euron', 'python hindi']

In [84]:
l1 = [[4,5,6,"Avi"],"avi","euron",[4,5,6,7]] #list ke andar list store kar sakte ho

In [85]:
l1

[[4, 5, 6, 'Avi'], 'avi', 'euron', [4, 5, 6, 7]]

In [88]:
#print 7
l1[3]

[4, 5, 6, 7]

In [89]:
l1[3][3] #prints 7 from list

7

In [91]:
str1

'Avinash'

In [92]:
#dot se inbuilt fun use kar sakte ho

In [93]:
#Assignment
s="euron"
l =[3,4,5,6,7,8,"Sudh","eron","python hindi"]

In [94]:
l[0]

3

In [95]:
l[4]

7

In [96]:
l[8]

'python hindi'

In [ ]:
#Access the first, middle and last element of a list using indexing
my_list = [10, 20, 30, 40, 50]

first_element = my_list[0]  # Accesses the element at index 0 (the first element)
middle_element = my_list[len(my_list) // 2]  # Integer division to get the middle index
last_element = my_list[-1]  # Accesses the last element using negative indexing

print("First element:", first_element)
print("Middle element:", middle_element)
print("Last element:", last_element)

print("\nFor even sized lists")
#For even sized lists, the middle would be the average of the two middle elements.
my_list_even = [10, 20, 30, 40, 50, 60]
middle_element_even1 = my_list_even[len(my_list_even) // 2 -1 ]
middle_element_even2 = my_list_even[len(my_list_even) // 2]
print("Middle element even1:", middle_element_even1)
print("Middle element even2:", middle_element_even2)

In [98]:
#reversing the list
l[8::-1]

['python hindi', 'eron', 'Sudh', 8, 7, 6, 5, 4, 3]

In [2]:
#write a program to extract every element from a list
list2 = ['python hindi',"Avinash", 'Eron', 'Sudh', 8, 7, 6, 5, 4, 3]

In [3]:
#Replace the 0th elements
list2[0] = "Python Classes"
list2

['Python Classes', 'Avinash', 'Eron', 'Sudh', 8, 7, 6, 5, 4, 3]

In [4]:
#concatenate list
list3 = [1,2,3]
list4 = [5,7,9]
concatenated_list = list3 + list4
print(concatenated_list)

[1, 2, 3, 5, 7, 9]

In [7]:
def replace_range(my_list, start, end, new_values):
    """Replaces a slice of a list with new values.

    Args:
        my_list: The original list.
        start: The starting index (inclusive).
        end: The ending index (exclusive).
        new_values: The list of new values to insert.

    Returns:
        A new list with the slice replaced.
        Returns the original list if start or end indices are invalid.
    """

    if not isinstance(my_list, list) or not isinstance(new_values, list):
        raise TypeError("Both arguments must be lists.")

    if not 0 <= start <= len(my_list) or not 0 <= end <= len(my_list) or end < start:
        raise IndexError("Invalid start or end indices.")

    return my_list[:start] + new_values + my_list[end:]


# Example
my_list = [1, 2, 3, 4, 5]
new_list = replace_range(my_list, 1, 4, [10, 20, 30])
print(new_list)  # Output: [1, 10, 20, 30, 5]
print(my_list)   # Output: [1, 2, 3, 4, 5] (original list unchanged)


# More examples
my_list2 = ['a', 'b', 'c', 'd']
new_list2 = replace_range(my_list2, 0, 2, ['X', 'Y'])
print(new_list2) # Output: ['X', 'Y', 'c', 'd']

my_list3 = [1, 2, 3]
new_list3 = replace_range(my_list3, 0, 3, [100, 200]) # Replace entire list
print(new_list3) # Output: [100, 200]

my_list4 = [1, 2, 3]
new_list4 = replace_range(my_list4, 1, 1, [5, 6]) # Insert
print(new_list4) # Output: [1, 5, 6, 2, 3]

# Example of error handling
# replace_range([1, 2, 3], 1, 4, "not a list")  # Raises TypeError
# replace_range([1, 2, 3], 5, 6, [4, 5])  # Raises IndexError

[1, 10, 20, 30, 5]
[1, 2, 3, 4, 5]
['X', 'Y', 'c', 'd']
[100, 200]
[1, 5, 6, 2, 3]