# Linked_List - collection of nodes
- insertion and deletion value - O(1)

- array is used for access the value

In [2]:
# Insertion

class Node:
  def __init__(self, data):
    self.data = data
    self.next = None   # self.next means address

In [3]:
node1 = Node(1) #node creation
node2 = Node(2)
node3 = Node(3)
node4 = Node(4)
node5 = Node(5)

In [4]:
node1.data

1

In [5]:
node1.next

In [6]:
# connection built in nodes

node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

In [7]:
node1.next

In [8]:
node4.next

In [9]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None # first element

  def display(self):
    current = self.head  # curr is at head
    while current != None:  # curr null hone tak
        print(current.data,end="->")
        current = current.next # connection establishment
    print("None")

In [ ]:
# other method
'''
def display(self):
  result = []
  current = self.head
  while current:
     result.append(str(current.data))
     current = current.next
  print(" -> ".join(result)
'''

In [12]:
linked_list = LinkedList()

node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)
node5 = Node(50)

linked_list.head = node1  #connection establishment
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

In [13]:
linked_list.display()

10->20->30->40->50->None

## insertion at head

In [15]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None # first element

  def display(self):
    result = []
    current = self.head
    while current:
       result.append(str(current.data))
       current = current.next
       print(" -> ".join(result))

    # insertion at head
  def insert_at_head(self, value):
      new_node = Node(value)
      new_node.next = self.head
      self.head = new_node

In [16]:
linked_list = LinkedList()

node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)
node5 = Node(50)

linked_list.head = node1  #connection establishment
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

In [17]:
linked_list.display()

10
10 -> 20
10 -> 20 -> 30
10 -> 20 -> 30 -> 40
10 -> 20 -> 30 -> 40 -> 50

In [18]:
linked_list.insert_at_head(999)

In [19]:
linked_list.display()

999
999 -> 10
999 -> 10 -> 20
999 -> 10 -> 20 -> 30
999 -> 10 -> 20 -> 30 -> 40
999 -> 10 -> 20 -> 30 -> 40 -> 50

## insert at Tail

In [25]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None # first element

  def display(self):
    result = []
    current = self.head
    while current:
       result.append(str(current.data))
       current = current.next
       print(" -> ".join(result))

    # insertion at head
  def insert_at_head(self, value):
      new_node = Node(value)
      new_node.next = self.head
      self.head = new_node

      # insertion at tail
  def append(self, value):

        new_node = Node(value)

        # if list is empty (handle empty list)
        if self.head is None:
            self.head = new_node
            return

        current = self.head
        while current.next is not None:
           current = current.next
        current.next = new_node

In [30]:
linked_list = LinkedList()

node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)
node5 = Node(50)

linked_list.head = node1  #connection establishment
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

In [31]:
linked_list.display()

10
10 -> 20
10 -> 20 -> 30
10 -> 20 -> 30 -> 40
10 -> 20 -> 30 -> 40 -> 50

In [32]:
linked_list.append(100)

In [33]:
linked_list.display()

10
10 -> 20
10 -> 20 -> 30
10 -> 20 -> 30 -> 40
10 -> 20 -> 30 -> 40 -> 50
10 -> 20 -> 30 -> 40 -> 50 -> 100