In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Student-Performance.csv")

In [5]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91
1,4,82,No,4,2,65
2,8,51,Yes,7,2,45
3,5,52,Yes,5,2,36
4,7,75,No,8,5,66

In [6]:
df.tail()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9995,1,49,Yes,4,2,23
9996,7,64,Yes,8,5,58
9997,6,83,Yes,8,5,74
9998,9,97,Yes,7,0,95
9999,7,74,No,8,1,64

In [7]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [8]:
df.isnull().sum() # check null values and gives sum also by column wise

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [9]:
df.dtypes

Hours Studied                        int64
Previous Scores                      int64
Extracurricular Activities          object
Sleep Hours                          int64
Sample Question Papers Practiced     int64
Performance Index                    int64
dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder,StandardScaler  #labelencoder means change the labels

In [11]:
df["Extracurricular Activities"] # select because it is object type and convert it 1/0 format

0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
9995    Yes
9996    Yes
9997    Yes
9998    Yes
9999     No
Name: Extracurricular Activities, Length: 10000, dtype: object

In [17]:
le = LabelEncoder()
df["Extracurricular Activities"] = le.fit_transform(df["Extracurricular Activities"]) # encoding

In [18]:
# update the entire df
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91
1,4,82,0,4,2,65
2,8,51,1,7,2,45
3,5,52,1,5,2,36
4,7,75,0,8,5,66
...,...,...,...,...,...,...
9995,1,49,1,4,2,23
9996,7,64,1,8,5,58
9997,6,83,1,8,5,74
9998,9,97,1,7,0,95
9999,7,74,0,8,1,64

# once df is numerical data then create X and Y.

In [21]:
# y = performace index

# x creation
x = df[["Hours Studied","Previous Scores","Extracurricular Activities","Sleep Hours","Sample Question Papers Practiced"]]

In [22]:
x

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [23]:
y = df["Performance Index"]

In [24]:
y

0       91
1       65
2       45
3       36
4       66
        ..
9995    23
9996    58
9997    74
9998    95
9999    64
Name: Performance Index, Length: 10000, dtype: int64

In [25]:
# split the data in test and train

from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=.2) #test data is 20 % , 80 % to train

In [27]:
x_train # 80 % data included to train

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
7290,7,93,0,4,4
7760,6,93,1,5,3
4061,7,52,1,7,0
9041,8,70,0,8,5
3016,4,77,0,4,9
...,...,...,...,...,...
3578,5,43,0,4,8
5421,3,58,1,8,7
7013,1,47,1,9,3
1401,8,58,0,6,7
1337,6,74,0,8,9

In [28]:
x_test #20 % data is used for testing

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
9375,7,60,1,5,5
7881,1,78,0,8,5
6269,7,49,1,4,5
5510,9,91,1,8,8
6523,4,73,1,7,0
...,...,...,...,...,...
7014,2,71,1,8,4
2396,2,58,0,6,9
2729,8,45,0,6,4
9210,6,94,1,9,2
4428,5,67,1,4,0

In [ ]:
# z-score means - Avg / std deviation

In [31]:
scaler = StandardScaler()   # standardize the data
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [32]:
# linear regression training

from sklearn.linear_model import LinearRegression
import pickle #pickel is physical file we created
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [33]:
# train the model
model = LinearRegression()
model.fit(x_train_scaled,y_train)

LinearRegression()

In [37]:
y_pred = model.predict(x_test_scaled)

In [35]:
x_test_scaled

array([[ 0.80712124, -0.53764053,  1.03149575, -0.88839972,  0.1345192 ],
       [-1.54829093,  0.51403623, -0.96946594,  0.85584057,  0.1345192 ],
       [ 0.80712124, -1.18033189,  1.03149575, -1.46981315,  0.1345192 ],
       ...,
       [ 1.19968993, -1.41403784, -0.96946594, -0.30698629, -0.20996019],
       [ 0.41455254,  1.44886003,  1.03149575,  1.437254  , -0.89891899],
       [ 0.02198385, -0.12865512,  1.03149575, -1.46981315, -1.58787778]],
      shape=(2000, 5))

In [36]:
# we can pass one record also and test it

model.predict([[ 0.80712124, -0.53764053,  1.03149575, -0.88839972,  0.1345192 ]])

array([51.4333157])

In [38]:
mean_squared_error(y_test,y_pred)

4.374865343174944

In [39]:
r2_score(y_test,y_pred) # r2 checks the model accuracy

0.9879453743429479

In [40]:
# create a physical file
import pickle
with open("Student_lr_final_model.pkl",'wb') as file:
    pickle.dump((model,scaler,le),file)